@media screen and (min-width: 360px) and (max-width: 1024px){

    .footer__info{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:fit-content;
        margin-top: 1rem;
        padding: .75rem;
        color: #fff;
        background-color: #111111;
        position: fixed;
        bottom: 0px;
        align-items: center;
        justify-content: space-between;
    
    }

    .footer > a {
        margin-top: .5rem;
        margin-bottom: 0;
    }

    .footer > p{
        margin-top: .5rem;
    }

    .footer{
        display: flex;
    }
}


