

.container__big-card{
  width: 400px;
  height: AUTO;
  margin-bottom: 1.5rem;
  margin-right: 10px;
  padding: .45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .25rem;
  
}

.container__big-card  h1  a {
  font-size: 24px;
}

.big-card__text > p > a{
  color: grey;
  font-size: 14px;
  font-weight: 700;
}

.container__big-card a{
  text-decoration: none;
}

.big-card__image img{
  width: 100%;

}

.big-card__text{
  display: flex;
  width: auto;
  height: fit-content;
}
