@media screen and (min-width: 360px) and (max-width: 1024px){
  .container__big-card{
    width: 100%;
    height: fit-content;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: .45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
  }
  
  .container__big-card > h1 > a {
    font-size: 16px;
  }
  
  .big-card__text > p > a{
    display: flex;
    color: grey;
    font-size: 14px;
    font-weight: 700;
  }
  
  .container__big-card a{
    text-decoration: none;
  }
  
  .big-card__image img{
    width: 100%;
  
  }
}




