<div class="container__big-card">
  <div class="big-card__image">
    <img
    src="https://dcreations.es/storage/files/1/blog/angular/novedades-angular-17/novedades-angular-17.webp"
    height=""

    alt=""
    srcset="">
  </div>
  <div class="big-card__title">
    <h1>
      <a href="">
        Fué lanzada la nueva version de angular

      </a>
    </h1>
  </div>
  <div class="big-card__text">
    <p>
      <a href="">
        Confíe en las herramientas de internacionalización de Angular, 
        la seguridad y la accesibilidad para construir todos en todo el mundo.
      </a>
    </p>
  </div>
  
</div>

