@media screen and (min-width: 360px) and (max-width: 1024px){
  .container__small-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: .8rem;
    padding: .5rem;
    gap: .5rem;
    margin-left: .5rem;
  }
  
  .container__small-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    
  }

  .small-card__image{
    height: 145px;
    padding: 2.5px;
  }
  
  .small-card__image > img{
    height: 140px;
  }
  
  .container__small-card__separator{
   margin-top: 3px;
  }
  .container__small-card  a{
    font-size: 14px;
    font-weight: 700;
  }
  
}


