
<div class="container__small-card">

    <div class="small-card__image">
      <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      height=""
      alt=""
      srcset="">
    </div>
    <div class="small-card__text">
      <p>
        <a href="">
          Y aquí tendré que poner el texto de la descripción que corresponda a lo
           publicado. Todo texto publicado ocupara el espacio a la derecha de la imagen,
           que se ubicará a la izquierda del card. De acuerdo a la cantidad
           de caracteres que contenga el texto, este irá ocupando mayor espacio vertical
           dentro del card. Hasta completar el espacio del mismo.
        </a>
      </p>
    </div>
  </div>




