
<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__image">
      <img
      src="{{ photoCover }}"
      height=""
      alt=""
      srcset="">
    </div>
    <div class="small-card__text">
      <p>
        <a href="https://www.adslzone.net/reportajes/series/mejores-series-disney-plus/" target="_blank">
        {{ cardTitle }}
        
        </a>
      </p>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr/>
  </div>
   
  </div>
  




