.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 1.5rem;
    align-items: center;
    border: none;
  
  }

  .container__menu-bar > ul > li{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    margin: 40px;
    font-weight: 700;
    list-style: none;
  }
  