/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: #F1F1F1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav__menu{
  width: 100%;
  height: 60px;
  padding-top: 1.5rem;
  border: solid  1px  #F1F1F1;
  text-align: center;
  align-items: flex-start;
  justify-content: center;

}

a{
  text-decoration: none;
}

.articles__main{
  width: auto;
}
